<header ng-controller="HeaderController"> 
<nav class="navbar navbar-inverse mainNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchName" ng-change="changeFn(searchName)">
      </div>
      <a class="btn btn-default" ng-href="#/search/{{searchName}}">Submit</a>
    </form>
    <ul class="autoComplete">
      <li ng-repeat="autocatg in searchCatgAry track by $index">
        <a ng-click="serchAutocatg(autocatg)">{{autocatg}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Geners
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li ng-repeat="catg in genersAry"><a ng-href="#/category/{{catg}}">{{catg}}</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav> 
<!-- -->
</header>
