/* app css stylesheet */
.panel-group .panel{min-height: 480px;}
.movieSec .panel-body p b{display: inline-block; vertical-align: top; width: 100px;}
.movieSec .panel-body p span{display: inline-block; vertical-align: top; width: calc(100% - 110px);
word-break:break-all;}
.mainNav .nav>li>a { padding: 10px 9px;}
.mainNav .nav>li:hover .dropdown-menu{display: block; width: 100vh;}
.mainNav .nav>li .dropdown-menu li{display: inline-block; vertical-align: top; width: calc(100% / 3);}
.sorting{margin: 0 0 10px; padding: 0; list-style: none;}
.sorting > li{display: inline-block; vertical-align: top; font-weight: bold; padding: 0;}
.sorting li ul{display: inline-block; vertical-align: top;margin: 0; padding: 0; }
.sorting li ul li{display: inline-block; vertical-align: top; font-weight: normal;}