/* app css stylesheet */
.panel-group .panel{min-height: 480px;}
.movieSec .panel-body p b{display: inline-block; vertical-align: top; width: 100px;}
.movieSec .panel-body p span{display: inline-block; vertical-align: top; width: calc(100% - 110px);
word-break:break-all;}
.mainNav .nav>li>a { padding: 10px 9px;}
.mainNav .nav>li:hover .dropdown-menu{display: block; width: 100vh;}
.mainNav .nav>li .dropdown-menu li{display: inline-block; vertical-align: top; width: calc(100% / 3);}